/*!
 Autor del desarrollo Front End y estilos: Inés Novelli
   GitHub: https://github.com/inesnovelli/desarrolloWeb
   Correo: inesnovelli9@gmail.com
   Ubicación: Provincia de Buenos Aires, La Plata, Argentina.
   Año: 2025

   Proyecto: Sitio web para pasteleria artesanal
   Notas: Este archivo contiene los estilos base del sitio.
 */
// 1. Base
@use 'base/reset';
@use 'base/typography';
@use 'base/base';

// 2. Components
@use 'components/buttons/buttons';
@use 'components/buttons/search-button';

@use 'components/forms/forms';
@use 'components/forms/search-form';

@use 'components/cards/product-card';
@use 'components/cards/text-card';

@use 'components/navigation/main-nav';
@use 'components/navigation/hamburger-menu';
@use 'components/navigation/internal-nav';

@use 'components/footer';
@use 'components/header';
@use 'components/gallery';

// 3. Layout
@use 'layout/grid';
@use 'layout/flex';
@use 'layout/containers';

// 4. Pages
@use 'pages/home';
@use 'pages/catalog';
@use 'pages/care';
@use 'pages/information';
@use 'pages/login';

// 5. Utilities
@use 'utilities/mixins';
@use 'utilities/media-queries';
