/* Formulario base */
.form-group {
    margin-bottom: 1.5rem;
  
    label {
      display: block;
      margin-bottom: 0.5rem;
      color: #212529;
      font-size: 0.75rem;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }
  
    input {
      width: 100%;
      padding: 0.5rem 0;
      border: none;
      border-bottom: 1px solid #adb1b4;
      font-size: 0.875rem;
      background-color: transparent;
      transition: border 0.3s ease;
  
      &:focus {
        outline: none;
        border-bottom-color: #707579;
        border-bottom-width: 2px;
      }
    }
}