/* catalog */

.catalog-page {
    padding-top: 200px;
  
    .catalog-title {
      color: #bd7d7d;
      font-size: 70px;
      margin-bottom: 20px;
      text-align: center;
    }
  
    .product-slider {
      scroll-margin-top: 200px;
    }
}