/* login */

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
    background-color: #f5f5f5;
  
    .login-title {
      color: #212529;
      font-size: 2rem;
      letter-spacing: 1px;
      margin-bottom: 3rem;
    }
  
    .login-form {
      width: 100%;
      max-width: 350px;
  
      .form-footer {
        color: #6c757d;
        font-size: 0.75rem;
        margin-top: 1.5rem;
        text-align: center;
      }
    }
}