@use '../abstracts/variables.scss' as v;

#care-instructions {
    h1 {
        color: v.$color-green-light;
        text-transform: v.$texto-trasnform;
        text-align: center;
        font-family: v.$fuente-terciaria;
        font-weight: 250;
        font-style: normal;
        font-size: 40px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: v.$color-fondo;
        z-index: 50;
        padding: 45px;
    }
}

#instructions {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    justify-content: center;
    gap: 30px;
    margin: 30px auto;
    padding: 90px;
    max-width: 100px;

    .text-box {
        position: relative;
        height: 200px;

        img {
            border-radius: 5px;
            padding: 5px;
            background-color: v.$color-green-light;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            height: 200px;
            width: 100%;
            transition: transform 0.5s ease;

            &:hover {
                transform: scale(1.05);
            }
        }

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            background-color: transparent;
            color: v.$color-boton;
            font-family: v.$fuente-principal;
            font-weight: bold;
            padding: 40px;
            margin: 0;
            text-align: center;
        }
    }
}

// responsive


@media (max-width: 768px) {
    #care-instructions {
        h1 {
            font-size: 20px;
            padding: 70px;
        }
    }
    
    #instructions {
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 20px;
        margin-top: 155px;
        padding: 15px;
        max-width: none; 
    
        .text-box {
            height: auto;
    
            img {
                height: auto;
                max-height: 250px;
            }
        }
    }
}