/* responsive */

//  values
$breakpoint-mobile: 768px;
$breakpoint-tablet: 992px;
$breakpoint-desktop: 1200px;

// Mixins
@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-mobile + 1) and (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-tablet + 1) {
    @content;
  }
}

// mobile styles
@include mobile {
  .footer-content {
    height: auto;
    padding: 10px 0;
  }

  .product-slider {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    justify-content: start;
    gap: 10px;
    padding: 10px 0 10px 20px;
    margin: 0;
    -webkit-overflow-scrolling: touch;
  }

  .information-page .info-grid--3col,
  .information-page .info-grid--2col {
    grid-template-columns: 1fr;
    padding: 20px;
  }
}