.flex {
    display: flex;
  
    &--row {
      flex-direction: row;
    }
  
    &--column {
      flex-direction: column;
    }
  
    &--center {
      justify-content: center;
      align-items: center;
    }
  
    &--between {
      justify-content: space-between;
    }
  
    &--around {
      justify-content: space-around;
    }
  
    &--wrap {
      flex-wrap: wrap;
    }
  }