@use '../abstracts/variables.scss' as v;

@mixin texto-transform {
    text-transform: v.$texto-trasnform;
}

@mixin texto-destacado {
    font-weight: bold;
    letter-spacing: 1.874px;
}

@mixin fuente-secundaria {
    font-family: v.$fuente-secundaria;
    font-weight: 300;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin grid-basico {
    display: grid;
    gap: 20px;
}

@mixin imagen-hover {
    transition: transform 0.5s ease;
  
    &:hover {
      transform: scale(1.05);
    }
}