// colores
$color-fondo: #F7F6F6;
$color-footer-content: #f5f5f5;
$color-boton: #a86b6b;
$color-boton-secundario:  #da959d;
$color-green-light: #bcc293;
$color-borde: #bd7d7d; 
$color-borde-boton: #adb1b4;
$color-border-boton-hover: #707579;
$color-footer: #c8cda4;
$color-footer-hover: #aab386;
$color-hamburguer: rgb(7, 7, 7);


//tipografia
$color-texto-white: white;
$color-texto-black: black;
$color-texto-secundario: #212529;
$color-texto-catalog: #383333;
$texto-size-grande: 28px;
$texto-size-mediano: 12px; 
$texto-size-titulo: 70px;
$fuente-principal:"Roboto", sans-serif; ;
$fuente-secundaria: Arial, Helvetica, sans-serif;
$fuente-terciaria: "ADLaM Display", system-ui;
$texto-trasnform: uppercase;

// galeria gap
$gap-size-pequenio: 5px;
$gap-size-grande: 30px;